header {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    a {
        margin-left: 30px;
        background-color: black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid black;
        &:hover {
            color: black;
            background-color: transparent;
        }
    }
}